<span id="img_scroll">
	<%=image_tag("girls_dance.jpg")%>
</span>


<table>
	<tr>
		<td><a href="#">Accra</a></td>
		<td><a href="#">Kumasi</a></td>
		<td><a href="#">Tamale</a></td>
		<td><a href="#">Sekondi-Takoradi</a></td>
		<td><a href="#">Sunyani</a></td>
		<td><a href="#">Cape Coast</a></td>
	</tr>
	<tr>
		<td><a href="#">Obuasi</a></td>
		<td><a href="#">Koforidua</a></td>
		<td><a href="#">Wa</a></td>
		<td><a href="#">Techiman</a></td>
		<td><a href="#">Ho</a></td>
		<td><a href="#">Bolgatanga</a></td>
	</tr>
</table>


<iframe 
	width="400" 
	height="450" 
	frameborder="0" 
	style="border:0" 
	src="https://www.google.com/maps/embed/v1/place?q=Ghana&key=AIzaSyAjoKTY16EkIxIqgVcBpo5kpXgDsz0sJGk">
</iframe>

<br />

