<p>
	<strong>Name:</strong>
	<%= @traveler.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @traveler.email %>
</p>

<p>
	<strong>Phone: </strong>
	<%= @traveler.phone %>
</p>

<p>
	<strong>Destination: </strong>
	<%= @traveler.destination %>
</p>

<a href="/travelers">Correct!</a>