<!DOCTYPE html>
<html>
<head>
  <title>Ghanago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>GhanaGo</h1>
<h2>Where are you GhanaGo?</h2>

<%= yield %>

</body>
</html>
